.container{
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;
}
.container--order{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 160px;
}
@media (max-width: $xlg-desctop-width) {
  .container{
    width: $container-desctop-width;
  }
}
@media (max-width: $desctop-width) {
  .container{
    width: $container-tablet-width;
  }
  .container--order{
    padding-top: 140px;
    padding-bottom: 150px;
  }
}
@media (max-width: $tablet-width) {
  .container{
    width: $container-mobile-width;
  }
}