.container{
  width: $container-width;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: $xlg-desctop-width) {
  .container{
    width: $container-desctop-width;
  }
}
@media (max-width: $desctop-width) {
  .container{
    width: $container-tablet-width;
  }
}
@media (max-width: $tablet-width) {
  .container{
    width: $container-mobile-width;
  }
}