.culture{
  &__form-item-list{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 420px;
    overflow-y: hidden;
    &::after{
      position: absolute;
      display: block;
      content: '';
      width: 390px;
      height: 390px;
      top: 210px;
      left: 375px;
      border-radius: 50%;
      border: 2px dashed $content-color;
    }
  }
}
@media (max-width: $screen-xl-width) {
  .culture{
    &__form-item-list{
      &::after{
        width: 310px;
        height: 310px;
        top: 210px;
        left: 340px;
      }
    }
  }
}
@media (max-width: $screen-lg-width) {
  .culture{
    &__form-item-list{
      height: 350px;
      &::after{
        width: 300px;
        height: 300px;
        top: 181px;
        left: 212px;
      }
    }
  }
}
@media (max-width: $screen-md-width) {
  .culture{
    &__form-item-list{
      height: 350px;
      &::after{
        width: 220px;
        height: 220px;
        top: 190px;
        left: 160px;
      }
    }
  }
}
@media (max-width: $screen-md-width--add) {
  .culture{
    &__form-item-list{
      height: 350px;
      &::after{
        width: 220px;
        height: 220px;
        top: 190px;
        left: 160px;
      }
    }
  }
}
@media (max-width: $screen-sm-width) {
  .culture{
    &__form-item-list{
      position: static;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
      &::after{
        display: none;
      }
    }
  }
}