.culture-item{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 194px;
  &--company-faith{
    left: 103px;
    top: 280px;
  }
  &--vision{
    left: 0px;
    top: 70px;
  }
  &--value{
    right: 0px;
    top: 70px;
  }
  &--company-slogan{
    right: 103px;
    top: 280px;
  }
  &__image-wrapper{
    width: 45px;
    height: 45px;
  }
  &__image{
    max-width: 100%;
  }
  &__image path{
    fill: $content-color;
  }
  &__label{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $site-title-ff;
    font-weight: 400;
    font-style: normal;
    &::after{
      position: absolute;
      display: block;
      content: '';
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: $content-color;
      z-index: 4;
    }
  }
  &__name{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }
  &__description{
    font-size: 10px;
    line-height: 20px;
  }
}
input.culture-item__input[type="radio"]{
  visibility: hidden;
}
input.culture-item__input[type="radio"]:checked + label.culture-item__label::after{
  background-color: $form-active-color;
}
input.culture-item__input[type="radio"]:checked + label .culture-item__image path{
  fill: $form-active-color;
}
input.culture-item__input[type="radio"]:checked + label .culture-item__name{
  color: $form-active-color;
}
//стилизация полукруга
.culture-item--company-faith label::after{
  top: 66px;
  left: 214px;
}
.culture-item--vision label::after{
  top: 148px;
  left: 214px;
}
.culture-item--mission label::after{
  top: 190px;
  left: 80px;
}
.culture-item--value label::after{
  top: 148px;
  right: 213px;
}
.culture-item--company-slogan label::after{
  top: 66px;
  right: 202px;
}
@media (max-width: $xlg-desctop-width) {
  .culture-item{
    width: 160px;
    &__name{
      margin: 10px auto 15px;
    }
    &--company-faith{
      left: 130px;
      top: 260px;
    }
    &--vision{
      left: 5px;
      top: 70px;
    }
    &--value{
      right: 5px;
      top: 70px;
    }
    &--company-slogan{
      right: 130px;
      top: 260px;
    }
  }
    //стилизация полукруга
  .culture-item--company-faith label::after{
    top: 65px;
    left: 165px;
  }
  .culture-item--vision label::after{
    top: 155px;
    left: 168px;
  }
  .culture-item--mission label::after{
    top: 191px;
    left: 78px;
  }
  .culture-item--value label::after{
    top: 155px;
    right: 166px;
  }
  .culture-item--company-slogan label::after{
    top: 65px;
    right: 155px;
  }
}
@media (max-width: $desctop-width) {
  .culture-item{
    width: 160px;
    &__name{
      margin: 10px auto 15px;
    }
    &--company-faith{
      left: 30px;
      top: 200px;
    }
    &--vision{
      left: -15px;
      top: 30px;
    }
    &--value{
      right: -15px;
      top: 30px;
    }
    &--company-slogan{
      right: 30px;
      top: 200px;
    }
  }
    //стилизация полукруга
  .culture-item--company-faith label::after{
    top: 66px;
    left: 169px;
  }
  .culture-item--vision label::after{
    top: 150px;
    left: 156px;
  }
  .culture-item--mission label::after{
    top: 161px;
    left: 64px;
  }
  .culture-item--value label::after{
    top: 147px;
    right: 153px;
  }
  .culture-item--company-slogan label::after{
    top: 62px;
    right: 154px;
  }
}
@media (max-width: $tablet-width) {
  //стилизация полукруга
  .culture-item--company-faith label::after{
    top: 65px;
    left: 125px;
  }
  .culture-item--vision label::after{
    top: 162px;
    left: 104px;
  }
  .culture-item--mission label::after{
    top: 169px;
    left: 44px;
  }
  .culture-item--value label::after{
    top: 162px;
    right: 104px;
  }
  .culture-item--company-slogan label::after{
    top: 65px;
    right: 118px;
  }
}