.footer{
  background-color: $footer-bg-color;
  &__content{
    display: flex;
    padding-left: 40px;
    color: $body-color;
  }
  &__company{
    display: flex;
    align-items: center;
    color: $body-color;
  }
  &__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
    padding: 25px 0;
    font-family: $site-title-ff;
    font-size: 15px;
    line-height: 18px;
  }
  &__phones{
    display: flex;
    flex-direction: column;
  }
  &__mailto-link{
    position: relative;
    margin-left: 50px;
    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 30px;
      height: 24px;
      left: -36px;
      top: -1px;
      background-image: url("../img/decor/mail-icon.png");
      background-repeat: no-repeat;
    }
  }
  &__phones-link{
    position: relative;
    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 20px;
      height: 20px; 
      left: -20px;
      top: -2px;
      background-repeat: no-repeat;
    }
    &--tel::before{
      background-image: url("../img/decor/smartphone.svg");
    }
    &--whatsapp::before{
      left: -19px;
      top: 5px;
      background-image: url("../img/decor/whatsapp-icon.png");
    }
  }
  &__address{
    position: relative;
    width: 190px;
    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 25px;
      height: 25px; 
      left: -27px;
      top: 5px;
      background-repeat: no-repeat;
      background-image: url("../img/decor/address-icon.png");
      z-index: 2;
      object-fit: cover;
    }
  }
}
@media (max-width: $desctop-width) {
  .footer{
    &__info{
      flex-wrap: wrap;
      align-items: center;
    }
    &__mailto-link{
      margin-left: 120px;
      margin-bottom: 30px;
      order: 1;
    }
    &__address{
      margin-bottom: 20px;
      margin-right: 100px;
      margin-left: 90px;
      order: 2;
    }
    &__phones{
      order: 3;
      align-self: center;
      margin-bottom: 0;
    }
  }
}
@media (max-width: $tablet-width) {
  .footer__content{
    align-items: center;
  }
  .footer__info,
  .footer__company{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__mailto-link,
  .footer__phones,
  .footer__address{
    margin-bottom: 15px;
  }
  .footer__mailto-link{
    margin-left: 30px;
    margin-bottom: 10px;
    order: 1;
  }
}