.goods{
  &__list{
    display: flex;
    flex-wrap: wrap;
    padding: 94px 0 103px;
    &--bracelets{
      justify-content: space-around;
    }
    &--cards{
      justify-content: space-around;
    }
  }
  &__catalog{
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__catalog--bracelets{
    background-image: url("../img/content/sec-bg-min.jpg");
  }
  &__catalog--cards{
    background-image: url("../img/content/sec-bg-min.jpg");
  }
  &__catalog--trinckets{
    background-image: url("../img/content/sec-bg-min.jpg");
  }
}