.order-link{
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 36px;
  text-align: center;
  font-size: 20px;
  line-height: 49px;
  color: $header-font-color;
  background-color: $order-link-bg;
  text-transform: uppercase;
  border-style: none;
  &:focus{
    border: none;
  }
  &::after{
    position: absolute;
    display: block;
    content: "";
    right: -14px;
    top: 0;
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24.5px 0 24.5px 14px;
    border-color: transparent transparent transparent #62acf1;
  }
}
.order .order-link{
  margin-left: 200px;
  padding: 12px 78px;
  &::after{
    position: absolute;
    display: block;
    content: "";
    right: -14px;
    top: 0;
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 36.5px 0 36.5px 14px;
    border-color: transparent transparent transparent #62acf1;
  }
}
@media (max-width: $screen-lg-width) {
  .order .order-link--order-section{
    margin-left: 120px;
  }
}
@media (max-width: $screen-md-width) {
  .order .order-link--order-section{
    margin-left: 45px;
    padding: 0 25px;
    &::after{
      right: -14px;
      border-width: 24.5px 0 24.5px 14px;
      border-color: transparent transparent transparent #62acf1;
    }
  }
}
@media (max-width: $screen-md-width--add) {
  .order .order-link--order-section{
    margin-left: 45px;
    padding: 0 25px;
    &::after{
      right: -14px;
      border-width: 24.5px 0 24.5px 14px;
      border-color: transparent transparent transparent #62acf1;
    }
  }
}
@media (max-width: $screen-sm-width) {
  .order .order-link--order-section{
    margin: 0 auto;
    padding: 0 25px;
  }
}