.product-item{
  position: relative;
  width: 211px;
  margin-bottom: 30px;
  margin-right: 20px;
  &::before{
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 17px 17px;
    border-color: transparent transparent #b2b4b3 transparent;
  }
  &::after{
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    right: 2px;
    width: 7px;
    height: 9px;
    background-size: contain;
    background-image: url("../img/decor/arrow.png");
    background-repeat: no-repeat;
    z-index: 5;
  }
  &__image-wrapper{
    position: relative;
    height: 204px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-color;
    & a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 211px;
      height: 204px;
      &::before{
        position: absolute;
        display: none;
        content: "";
        width: 211px;
        height: 204px;
        background-color: rgba($color: #000000, $alpha: .5);
        top: 0px;
        left: 0px;
        z-index: 10;
      }
      &::after{
        position: absolute;
        display: none;
        content: "";
        width: 52px;
        height: 52px;
        background-image: url("../img/decor/zoom-in.png");
        top: 78px;
        left: 80px;
        z-index: 11;
      }
    }
  }
  &__image{
    display: inline-block;
  }
  &__image--bracelet{
    width: 125px;
    height: 155px;
  }
  &__description{
    display: block;
    border-top: 1px solid #d7d7d9;
    padding: 20px 0;
    background-color: $card-description-bg;
    font-family: $content-ff;
  }
  &__model{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__appearance{
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }
}
.product-item__image-wrapper--trincket .product-item__description-inner-wrapper{
  height: 206px;
}
.product-item__image-wrapper a:hover{
  &::before{
    display: block;
  }
  &::after{
    display: block;
  }
}
.product-item:hover::before{
  border-color: transparent transparent #424242 transparent;
}
.product-item--bracelet{
  margin-right: 22px;
}
.product-item--card .product-item__description-inner-wrapper{
  padding: 0 11px;
}
.product-item:nth-of-type(5){
  margin-right: 0;
}
