.product-item{
  width: 211px;
  margin-bottom: 30px;
  margin-right: 20px;
  &__image-wrapper{
    position: relative;
    height: 204px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-color;
    &::before{
      position: absolute;
      display: none;
      content: "";
      width: 211px;
      height: 204px;
      background-color: rgba($color: #000000, $alpha: .5);
      top: 0px;
      left: 0px;
      z-index: 10;
    }
    &::after{
      position: absolute;
      display: none;
      content: "";
      width: 52px;
      height: 52px;
      background-image: url("../mg/decor/zoom-in.png");
      top: 78px;
      left: 95px;
      z-index: 11;
    }
  }
  &__image--bracelet{
    width: 125px;
    height: 155px;
  }
  &__description{
    display: block;
    border-top: 1px solid #d7d7d9;
    padding: 20px 0;
    background-color: $card-description-bg;
    font-family: $content-ff;
  }
  &__model{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__appearance{
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }
}
/*.product-item__image-wrapper:hover{
  &::before{
    display: block;
  }
}*/
.product-item--bracelet{
  margin-right: 22px;
}
.product-item--card .product-item__description-inner-wrapper{
  padding: 0 11px;
}
.product-item:nth-of-type(5){
  margin-right: 0;
}