.product-item{
  width: 211px;
  &__image-wrapper{
    height: 204px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-color;
  }
  &__image--bracelet{
    width: 125px;
    height: 155px;
  }
  &__description-inner-wrapper{
    display: block;
    border-top: 1px solid #d7d7d9;
    padding: 20px 0;
    background-color: $card-description-bg;
    font-family: $content-ff;
  }
  &__model{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  &__appearance{
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
  }
}