.section-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0 41px;
  color: $section-title-color;
  &__name{
    position: relative;
    margin-bottom: 16px;
    font-family: $content-ff;
    font-size: 38px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 2.9px;
  }
  &__name::after{
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    width: 85px;
    background-color: $section-title-color;
    left: calc(50% - 42px);
    bottom: -10px;
  }
  &__description{
    width: 500px;
    font-family: $site-title-ff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}
.section-title--culture{
  padding: 30px 0 9px;
}
