.site-title{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $site-title-ff;
  font-weight: 400;
  font-style: normal;
  &--header{
    padding-top: 47px;
    padding-bottom: 20px;
    color: $header-font-color;
  }
  &--footer{
    margin-left: 5px;
    color: $body-color;
  }
  &--header::after{
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    width: 85px;
    background-color: $header-font-color;
    left: calc(50% - 42px);
    bottom: 1px;
  }
  &__name--header{
    font-size: 39px;
    line-height: 46px;
  }
  &__name--footer{
    font-size: 18px;
    line-height: 20px;
  }
  &__description-first--header{
    font-size: 16px;
    line-height: 18px;
  }
  &__description-second--header{
    font-size: 12px;
    line-height: 14px;
  }
  &__description-first--footer{
    font-size: 6px;
    line-height: 6px;
  }
  &__description-second--footer{
    font-size: 5px;
    line-height: 5px;
  }
}