$body-color: #fff;
$content-color: #838383;
$section-title-color: #393836;
$card-description-bg: #ebedec;
$header-font-color: #fff;
$order-link-bg: #62adf1;
$form-active-color: #eb4f39;
$footer-bg-color: #91908e;
$product-item-corner-color: #b2b4b3;

$site-title-ff: "Century Gothic";
$content-ff: "Bebas Neue";

$cont-xl-width: 1140px;

$screen-xl-width: 1235px;
$cont-lg-width: 960px;

$screen-lg-width: 992px;
$cont-md-width: 720px;

$screen-md-width: 768px;
$cont-sm-width: 540px;

$screen-sm-width: 576px;
$cont-mb-width: 300px;

$screen-mb-width: 320px;
$cont-smmb-width: 290px;



$fsz-sm14: 1.4rem;
$fsz-sm16: 1.6rem;
$fsz-md18: 1.8rem;
$fsz-md20: 2rem;
$fsz-md21: 2.1rem;
$fsz-md26: 2.6rem;
$fsz-lg30: 3rem;
$fsz-lg40: 4rem;
$fsz-slg50: 5rem;
$lh-sm18: 1.8rem;
$lh-sm24: 2.4rem;
$lh-sm26: 2.6rem;
$lh-sm28: 2.8rem;
$lh-lg30: 3rem;
$lh-lg36: 3.6rem;
$lh-lg40: 4rem;
$lh-slg60: 6rem;
$lh-slg70: 7rem;

$tablet-side-padding: 40px;
